@font-face {
    font-family: 'helveticaRegular';
    src: url('../fonts/helvetica/helvetica_regular-webfont.eot');
    src: url('../fonts/helvetica/helvetica_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/helvetica_regular-webfont.woff') format('woff'),
         url('../fonts/helvetica/helvetica_regular-webfont.ttf') format('truetype'),
         url('../fonts/helvetica/helvetica_regular-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archiveRegular';
    src: url('../fonts/archive/archive-webfont.eot');
    src: url('../fonts/archive/archive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archive/archive-webfont.woff') format('woff'),
         url('../fonts/archive/archive-webfont.ttf') format('truetype'),
         url('../fonts/archive/archive-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}